body{
    background: #ffc93c;
}
.header{
    background-color: #dbf6e9;
}
.kontak{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: large;
    font-weight: 400;
    background-color: #31326f;
    color: white;
}
.link{
    text-align: center;
    background-color: #31326f;
}
h1{
   font-family: 'Montserrat', sans-serif;
   font-size : 56px;
   color: black;
   text-align: center;
}
h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 32px;
    color: #31326f;
    text-align: center;
}
p{
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    padding-left: 1%;
    padding-right: 1%;
    padding-bottom: 1%;
}
a{
    font-family: 'Montserrat', sans-serif;
    padding-left: 1%;
    padding-right: 1%;
    padding-bottom: 1%;
}
.myphoto{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: auto;
}
ol{
    font-family:'Montserrat', sans-serif;
    
}
ul{
    font-family: 'Montserrat', sans-serif;
}
.mainbody{
    background: #9ddfd3 ;
}